<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UrlValidationConfig" type="ECMS.HttpModules.UrlValidationConfig, ECMS.HttpModules"/>
  </configSections>
  <UrlValidationConfig>
    <InvalidUrlPart>
      <add Action="contains" InvalidValue=".asmx,.aspx,.css,.js,.jpg,.jpeg,.gif,.ico,.png"/>
      <add Action="equal" InvalidValue="/default.aspx"/>
    </InvalidUrlPart>
  </UrlValidationConfig>
</configuration>