<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>    
    <add key="UrlFilePath" value="J:\\MyProjects\\ecms\\WebSite\\app_data\" />
    <add key="MongoDBName" value="ECMS" />
  </appSettings>
  <connectionStrings>
    <add name="MongoDBHost" connectionString="127.0.0.1" />
    <add name="MongoDBPort" connectionString="27017" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>