<h2>Hi this is a partial view.</h2>
<span>And this is the magic - @WebApp.AppCode.ECMSViewHelper.Eval("@DateTime.Now.ToString()")</span>
<span>And this is the another magic - @WebApp.AppCode.ECMSViewHelper.Eval("@HttpContext.Current.Request.QueryString[\"CityName\"]")</span>

