<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="UrlValidationConfig" type="ECMS.HttpModules.UrlValidationConfig, ECMS.HttpModules"/>
  </configSections>
  <UrlValidationConfig>
    <InvalidUrlPart>
      <add Action="contains" InvalidValue=".asmx,.aspx,.css,.js,.jpg,.jpeg,.gif,.ico,.png"/>
      <add Action="equal" InvalidValue="/default.aspx"/>
      </InvalidUrlPart>
  </UrlValidationConfig>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
