<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MongoDBHost" connectionString=""/>
    <add name="MongoDBPort" connectionString=""/>
  </connectionStrings>
  <appSettings>    
    <add key="UrlFilePath" value="J:\MyProjects\ecms\ECMS.ServicesTests\\app_data\\"/>
    <add key="MongoDBName" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
