<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoDBHost" connectionString=""/>
    <add name="MongoDBPort" connectionString=""/>
  </connectionStrings>
  <appSettings>    
    <add key="UrlFilePath" value="J:\MyProjects\ecms\ECMS.ServicesTests\\app_data\\"/>
    <add key="MongoDBName" value=""/>
  </appSettings>
</configuration>