@{
    ViewBag.Title = "Logged-out";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            
            <p>
                You are successfully logged out.
            </p>
        </div>
    </section>
}
