<h2>Hi this is a partial view.</h2>
<span>And this is the magic - @ECMS.WebV2.ViewHelper.Eval("@DateTime.Now.ToString()")</span>
<span>And this is the another magic - @ECMS.WebV2.ViewHelper.Eval("@HttpContext.Current.Request.QueryString[\"CityName\"]")</span>

