<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <CDNPath>http://cdn.explotravel.com/</CDNPath>
  <HttpAliases>www.explotravel.com,www1.explotravel.com</HttpAliases>
  <PortalHostName>www.explotravel.com</PortalHostName>
  <!--in minutes-->
  <XmlSitemapRefreshFrequency>360</XmlSitemapRefreshFrequency>
</configuration>
