<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets async="true">
    <target name="default" xsi:type="File" fileName="${basedir}\Logs\${event-context:item=siteid}\ECMSAppLog_${date:universalTime=false:format=MMddyyyy_hhtt}.txt" createDirs="true" >
      <layout xsi:type="CsvLayout">
        <column name="time" layout="${longdate}" />
        <column name="IPAddress" layout="${event-context:item=ClientIP}" />
        <column name="message" layout="${message}" />
      </layout>
    </target>    
    <!--For Local Testing
    <target xsi:type="Mail" name="MailLogger" smtpServer="smtp.gmail.com" smtpPort="587" smtpAuthentication="Basic" enableSsl="true"
from="vishal@fareportal.com" to="vishal@fareportal.com"
subject="ModuleContentException : PortalID=${event-context:item=PortalId}, TabID=${event-context:item=TabID}, ModuleID=${event-context:item=ModuleID}"
body="Message=${message}"
smtpUserName="vishal@fareportal.com" smtpPassword="********" />-->
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="default" >
    </logger>
  </rules>
</nlog>
