@{
    ViewBag.Title = "ECMSView-EnterPreviewMode.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<label id="lblMsg">&nbsp;</label>
<script src="~/scripts/jquery-2.0.3.js"></script>
<script src="~/scripts/jquery.cookie.js"></script>
<input type="button" id="enterPreviewMode" value="EnterPreviewMode" />
<input type="button" id="exitPreviewMode" value="ExitPreviewMode" />

<script type="text/javascript">
    function enterPreviewMode() {
        $.cookie("ECMS-Preview-Mode", "true", {path:'/',domain:"/"});
        $("#lblMsg").html("You entered in preview mode now!!!");
    }
    function exitPreviewMode() {
        $.removeCookie("ECMS-Preview-Mode");
        $("#lblMsg").html("You exit from preview mode!!!");
    }

    $(document).ready(function () {
        $("#enterPreviewMode").click(enterPreviewMode);
        $("#exitPreviewMode").click(exitPreviewMode);
    });
</script>
